html {
	font-size: 16px;
}

i {
    color: white;
}

// fa-mobile [&#xf10b;]
// fa-tv (alias) [&#xf26c;]
// fa-envelope-o [&#xf003;]
// fa-globe [&#xf0ac;]

.container {
    max-width: 68.75em;
    margin-top: 1.9375em;
}

.blockContainer {
    width: 76%;
    height: 34.25em;
    margin-left: 13.4%;
    margin-bottom: 1.875em;
    overflow: hidden;
}

.blockHeader {
    display: flex;
    justify-content: space-between;
    height: 4.0625em;
}

.1, .3, .5 {

}

.date {
	color: #C2D4DD;
}

.time{
    color: #5AB7EB;
    font-size: 1.5em;
}

.icon {
    width: 2.45em;
    height: 2.45em;
    background: #46A4DA;
    border-radius: 100%;
    border: 0.5em solid #AFDCF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-tv {
    position: relative;
    left: 0.03em;
}

.msgContainer {
    background: #6CBFEE;
    color: white;
    height: 100%;
}

.msgHeader {
    height: 1.75em;
    padding-top: 0.85em;
    padding-left: 0.6em;
    font-size: 1.4em;
    border: 1px solid black;
}

.msg {
    padding: 1.5em 1em;
    font-size: 0.9em;
}